# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Database
*.sqlite3
*.db
sql_app.db

# Distribution / Packaging
dist/
build/
*.egg-info/

# Unit Test / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log
celerybeat-schedule
