caryoupe.vip, www.caryoupe.vip {
	reverse_proxy caryoupe-website:3000
	encode gzip
	
	log {
		output stdout
		format console
	}
}

git.caryoupe.vip {
	reverse_proxy gitea:3000
	encode gzip
	
	log {
		output stdout
		format console
	}
}
