# Docker 镜像版本号
# 用于：1. 构建脚本导出镜像时的标签  2. docker-compose.yml 启动容器时使用的镜像版本
VERSION=v1.0.0

# 邮件服务配置（推荐使用 SMTP）
# 如果使用 SMTP，请配置以下变量
SMTP_HOST=smtp.163.com
SMTP_PORT=994
SMTP_SECURE=true
SMTP_USER=caryoup@163.com
SMTP_PASS=MLS2NtAicZ8VyVJT

# 内部通知邮件接收者（多个邮箱用逗号分隔）
INTERNAL_EMAILS=caryoup@163.com,pbeenig@hotmail.com


